* {
  font-size: 12px;
  font-family: sans-serif;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}
a {
  color: #000;
  outline-color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #000;
  outline-color: #000;
}
a.more {
  text-decoration: none;
  color: #b49759;
  white-space: nowrap;
}
.hover-underline {
  text-decoration: none;
}
.hover-underline:hover {
  text-decoration: underline;
}
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
#zone-header,
#zone-footer {
  background: #fff;
}

#zone-user {
  padding-top: 10px;
}
#zone-user #region-user-first {
  display: block;
}
#zone-user #region-user-first #block-block-14 {
  width: 20%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  padding: 6px 0 7px;
}
#zone-user #region-user-first #block-block-14 a.mobile-menu-link {
  padding: 4px 24px 6px 5px;
  text-decoration: none;
  background: #e8dfcd;
  border: 1px solid #b49759;
}
#zone-user #region-user-first div.region-user-first-inner div.block-site-name {
  float: left;
}
#zone-user #region-user-first div.region-user-first-inner div.block-site-name h1,
#zone-user #region-user-first div.region-user-first-inner div.block-site-name h2 {
  margin-top: 0;
}
#zone-user #region-user-first div.region-user-first-inner div.block-main-menu {
  float: left;
}
#zone-user #region-user-first div.region-user-first-inner div.block-main-menu ul.menu {
  list-style: none outside none;
}
#zone-user #region-user-first div.region-user-first-inner div.block-main-menu ul.menu li {
  list-style: none outside none;
  display: inline;
}
#zone-user #region-menu #block-delta-blocks-logo {
  width: 80px;
  margin: 15px auto 0;
}
#zone-user #region-menu #block-delta-blocks-logo img {
  width: 80px;
  height: auto;
}
#zone-user #region-menu #block-block-17 {
  display: none;
}
#zone-user #region-menu #block-menu-block-6 {
  width: 100%;
  height: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
#zone-user #region-menu #block-menu-block-6 ul.menu {
  list-style-type: none;
  padding-left: 0;
}
#zone-user #region-menu #block-menu-block-6 ul.menu li {
  padding: 10px 0;
  margin: 0;
  border: 1px solid #b49759;
  border-bottom: none;
  background: #f2edde;
}
#zone-user #region-menu #block-menu-block-6 ul.menu li.last {
  border-bottom: 1px solid #b49759;
}
#zone-user #region-menu #block-menu-block-6 ul.menu li a {
  text-decoration: none;
  padding: 7px 0 7px 5px;
}
#zone-user #region-menu #block-menu-block-6 ul.menu li a:visited {
  color: #000;
}
#zone-user #region-menu #block-menu-block-6.open {
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  height: auto;
  overflow-y: auto;
}

#zone-footer {
  padding: 0 0 20px;
}
#zone-footer #region-footer-second {
  width: 100%;
}
#zone-footer #region-footer-first {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: #000 solid 2px;
  margin: 0 0 20px 0px;
  /* Language Switcher */

  /* Quick Links Menu */

}
#zone-footer #region-footer-first:after {
  content: "";
  padding-bottom: 20px;
  display: block;
  border-bottom: 3px solid #b49759;
}
#zone-footer #region-footer-first #block-locale-language-content h2.block-title {
  display: none;
}
#zone-footer #region-footer-first #block-locale-language-content ul.language-switcher-locale-url {
  text-align: center;
}
#zone-footer #region-footer-first #block-locale-language-content ul.language-switcher-locale-url li {
  display: inline;
}
#zone-footer #region-footer-first #block-locale-language-content ul.language-switcher-locale-url li:after {
  content: "|";
}
#zone-footer #region-footer-first #block-locale-language-content ul.language-switcher-locale-url li a {
  padding: 0 10px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}
#zone-footer #region-footer-first #block-locale-language-content ul.language-switcher-locale-url li a:hover {
  text-decoration: underline;
}
#zone-footer #region-footer-first #block-locale-language-content ul.language-switcher-locale-url li.first a {
  padding-left: 0;
}
#zone-footer #region-footer-first #block-locale-language-content ul.language-switcher-locale-url li.last a {
  padding-right: 0;
}
#zone-footer #region-footer-first #block-locale-language-content ul.language-switcher-locale-url li.last:after {
  content: "";
}
#zone-footer #region-footer-first #block-menu-block-2 {
  display: none;
}
#zone-footer #region-footer-first #block-menu-block-2 {
  display: block;
}
#zone-footer #region-footer-first #block-menu-block-2 {
  display: none;
}
#zone-footer #mini-panel-footer_menus {
  margin: 0px;
}
#zone-footer #mini-panel-footer_menus .panel-pane.pane-agencies > h2.pane-title,
#zone-footer #mini-panel-footer_menus .panel-pane.pane-menu-block-4 > h2.pane-title,
#zone-footer #mini-panel-footer_menus .panel-pane.pane-geography-footer-menu > h2.pane-title {
  border-top: 1px solid #d9caac;
  border-bottom: 1px solid #d9caac;
}
#zone-footer #mini-panel-footer_menus .panel-pane.pane-agencies > h2.pane-title {
  border-left: 1px solid #d9caac;
}
#zone-footer #mini-panel-footer_menus .panel-pane.pane-geography-footer-menu > h2.pane-title {
  border-right: 1px solid #d9caac;
}
#zone-footer #mini-panel-footer_menus .panel-pane h2.pane-title {
  background: #e8dfcd;
  font-size: 14px;
  padding: 5px 0 5px 10px;
}
#zone-footer #mini-panel-footer_menus .panel-pane .pane-content {
  padding: 0 0 10px 10px;
}
#zone-footer #mini-panel-footer_menus .panel-pane ul.menu {
  margin: 0;
  padding: 0;
  line-height: 1.8em;
}
#zone-footer #mini-panel-footer_menus .panel-pane ul.menu li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
#zone-footer #mini-panel-footer_menus .panel-pane ul.menu li a {
  text-decoration: none;
}
#zone-footer #mini-panel-footer_menus .panel-pane ul.menu li a:hover {
  text-decoration: underline;
}
#zone-footer #mini-panel-footer_menus .panel-pane ul.menu li.expanded {
  font-weight: bold;
}
#zone-footer #mini-panel-footer_menus .pane-menu-block-4 ul.menu {
  line-height: 2em;
}
#zone-footer #mini-panel-footer_menus .pane-block-20 {
  display: none;
}
#zone-footer #mini-panel-footer_menus .pane-panels-mini {
  margin: 0;
}
#zone-footer #mini-panel-footer_menus .pane-panels-mini h2.pane-title:first-child {
  background: #e8dfcd;
  padding: 5px 0 5px 10px;
}
#zone-footer #mini-panel-footer_menus .pane-panels-mini .pane-content h2.pane-title {
  background: #FFF;
  padding: 0 0 0 10px;
  margin: 0;
}
#zone-footer #mini-panel-footer_menus .pane-panels-mini .pane-content .panel-separator {
  margin: 0;
}
#zone-footer #mini-panel-footer_menus .pane-panels-mini .pane-content #mini-panel-geography_footer_menu .pane-title {
  padding-left: 0;
  font-size: 12px;
}
#zone-footer #mini-panel-footer_menus .pane-panels-mini .pane-content #mini-panel-geography_footer_menu .pane-title a {
  text-decoration: none;
  line-height: 145%;
}
#zone-footer #mini-panel-footer_menus .pane-panels-mini .pane-content #mini-panel-geography_footer_menu .pane-title a:hover {
  text-decoration: underline;
}
#zone-footer #mini-panel-footer_menus .pane-panels-mini .pane-content #mini-panel-geography_footer_menu .panel-pane .pane-content {
  padding-left: 0;
  padding-bottom: 0;
}

.view-agencies.view-display-id-block_2 .views-table tr td.views-field-view-node a {
  font-weight: bold;
}

.panel-3col-33 .panel-panel {
  float: left;
  width: 33%;
}
.panel-3col-33 .panel-panel .inside {
  margin: 0 0 1em 0.5em;
}

.grid-5, .grid-6, .grid-9, .grid-11, .grid-17 {
  float: left;
  display: inline;
  position: relative;
}
.grid-5 {
  width: 180px;
}
.grid-6 {
  width: 177px;
}
.grid-9 {
  width: 340px;
}
.grid-11 {
  width: 440px;
}
.grid-17 {
  width: 700px;
  float: none;
}
#zone-user #region-user-first {
  float: right;
  width: 170px;
  margin-left: 0;
}
#zone-user #region-user-first div.region-user-first-inner div#block-search-form {
  width: auto;
  float: none;
  margin: 5px 0;
}
#zone-user #region-user-first div.region-user-first-inner div#block-search-form .container-inline {
  border: none;
}
#zone-user #region-menu {
  width: 700px;
}
#zone-user #region-user-first div.region-user-first-inner div#block-search-form .container-inline .form-item-search-block-form input {
  width: 82%;
}
#zone-user #region-user-first .mobile-menu-link-wrapper {
  display: none;
}
#zone-user #region-user-first #block-block-14 {
  display: none;
}
#zone-user #region-user-first #block-block-6 {
  width: 100%;
  padding-top: 6px;
}
#zone-user #region-user-first #block-block-6 input.go {
  top: 9px;
}
#zone-user #region-menu #block-delta-blocks-logo {
  display: block;
  float: left;
  margin-top: 0;
  width: 93px;
}
#zone-user #region-menu #block-delta-blocks-logo .logo-img {
  margin: 0;
  padding-right: 32px;
}
#zone-user #region-menu #block-delta-blocks-logo img {
  width: 85px;
}
#zone-user #region-menu #block-block-17 {
  margin-right: 0;
  padding: 12px 0;
  height: auto;
  display: block;
  float: left;
}
#zone-user #region-menu #block-block-17 .content {
  padding-right: 32px;
  border-right: 1px solid #808285;
}
#zone-user #region-menu #block-block-17 .content a {
  text-decoration: none;
}
#zone-user #region-menu #block-menu-block-6 {
  padding: 12px 0;
  height: auto;
  display: block;
  width: auto;
}
#zone-user #region-menu #block-menu-block-6 ul.menu {
  padding-left: 25px;
}
#zone-user #region-menu #block-menu-block-6 ul.menu li {
  padding: 0 28px;
  margin: 0;
  border: none;
  border-right: 1px solid #808285;
  background: #fff;
  display: -moz-inline-box;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
#zone-user #region-menu #block-menu-block-6 ul.menu li.last {
  border-bottom: none;
  border-right: none;
  padding-right: 0px;
}
#zone-user #region-menu #block-menu-block-6 ul.menu li.first {
  padding-left: 0;
}
#zone-user #region-user-first {
  display: block;
  width: 177px;
}
#zone-user #region-user-first div.region-user-first-inner div#block-search-form {
  width: auto;
  float: none;
  margin: 5px 0;
  margin-left: 0;
}
#zone-user #region-user-first div.region-user-first-inner div#block-search-form .container-inline .form-item-search-block-form input {
  width: 85%;
}
.front #zone-user #region-menu #block-menu-block-6 ul.menu li {
  padding: 0 30px;
}
.front #zone-user #region-menu #block-menu-block-6 ul.menu li.last {
  padding-right: 0;
}
#zone-user #region-menu #block-menu-block-6 ul.menu li a {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
}
#zone-user #region-menu #block-menu-block-6 ul.menu li a:visited {
  color: #000;
}
#zone-user,
#zone-footer {
  width: 960px;
  margin: 0 auto;
}
#zone-footer #region-footer-first {
  width: 960px;
}
#zone-footer #region-footer-first #block-akdn-custom-ac-lang-switch {
  display: none;
}
#zone-footer #region-footer-first #block-menu-block-2 {
  margin: 10px;
}
#zone-footer #region-footer-first #block-menu-block-2 h2.block-title {
  border-bottom: 1px dashed #d9caac;
  font-size: 14px;
  padding-bottom: 5px;
}
#zone-footer #region-footer-first #block-menu-block-2 .content ul.menu li {
  list-style: none outside none;
  border-bottom: 1px dashed #d9caac;
  margin: 0;
  padding: 5px 0;
}
#zone-footer #region-footer-first #block-menu-block-2 .content ul.menu li a {
  text-decoration: none;
  font-size: 12px;
}
#zone-footer #mini-panel-footer_menus .panel-pane,
#zone-footer #mini-panel-footer_menus .pane-views {
  margin: 0;
}
#zone-footer #mini-panel-footer_menus h2.pane-title {
  margin-bottom: 20px;
}
#zone-footer #mini-panel-footer_menus .panel-pane.pane-menu-block-3 h2,
#zone-footer #mini-panel-footer_menus .panel-pane.pane-agencies h2 {
  padding-left: 40px;
}
#zone-footer #mini-panel-footer_menus .panel-pane.pane-menu-block-3 h2,
#zone-footer #mini-panel-footer_menus .panel-pane.pane-agencies h2,
  padding-left: 40px;
#zone-footer #mini-panel-footer_menus .panel-pane.pane-menu-block-3 .pane-content,
#zone-footer #mini-panel-footer_menus .panel-pane.pane-agencies .pane-content {
  padding-left: 50px;
  padding-right: 5px;
}
#zone-footer #mini-panel-footer_menus .panel-pane.pane-menu-block-4 .pane-content {
  border-left: 1px solid #e2d7c0;
  border-right: 1px solid #e2d7c0;
}
#zone-footer #mini-panel-footer_menus .panel-pane.pane-geography-footer-menu {
  display: block;
  width: 440px;
}